@model GeekText_Team7.Models.BookAuthorViewModels.BookIndexData

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


<div class="active">
    @foreach (var book in Model.Book)
    {
            <img src="~/images/Books/@(Html.DisplayFor(modelItem => book.Isbn)).jpg"/>
            <p>
                @foreach (var author in Model.Author)
                {
                    foreach (var bookauthor in Model.BookAuthor)
                    {
                        if (author.Id == bookauthor.AuthorId && book.Id == bookauthor.BookId)
                        {
                            <br />
                            <a asp-action="AuthorDetails" asp-route-id="@author.Id">@(author.FirstName) @(author.LastName)</a>
                            <br />
                        }
                    }
                }
                <a asp-action="BookDetails" asp-route-id="@book.Id">@(book.Title)</a>
            </p>
    }
</div>